#singUpBg {
    -fx-background-image: url("BackGround.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.text {
    -fx-padding: 15px 50px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-background-color: #c4f4fe;
}

.btns {
    -fx-padding: 15px 40px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color: black;
    -fx-background-color: #eeccd4;
}